body{padding-top:30px}
.mod{margin-bottom:30px}
.wrapper{width:950px;margin:0 auto}
.side-links{margin-bottom:40px}
.side-links li{position:relative;margin-top:5px;font-size:14px}
.rating{margin-bottom:4px}
.rating .txt-tip{margin-left:4px}
.rating i{margin-left:4px;color:#e09015}
.list{font-size:0;letter-spacing:-.31em;*letter-spacing:normal;*word-spacing:-.43em}
.list ul{margin-top:-40px}
.list li{display:inline-block;*display:inline;zoom:1;width:24.8%;margin-top:40px;vertical-align:top;text-align:center;font-size:12px;letter-spacing:normal;word-spacing:normal}
.list .pic{margin-bottom:10px}
.list .title{line-height:1.45;font-size:13px;margin-bottom:4px;word-wrap:break-word}
.list1 li{padding-bottom:8px;margin-bottom:8px}
.bn-link{display:inline-block;*display:inline;zoom:1;vertical-align:middle;padding:2px 10px;border-radius:2px}
.bn-link:link,.bn-link:visited{background:#999a95;color:#fff}
.bn-link:hover,.bn-link:active{background:#878882}
.tags ul{margin-top:-4px}
.tags li{width:4em;margin-top:4px;text-align:left}
.cate{margin-bottom:10px}
.cate .cate-label{width:100%;margin-bottom:2px;font-size:14px;color:#333}
.cate .cate-label a:link,.cate .cate-label a:visited{color:#333}
.cate .cate-label a:hover,.cate .cate-label a:active{color:#fff}
.cate ul{margin-left:-10px}
.cate li{display:inline-block;*display:inline;zoom:1;margin-left:10px}
.inp-focus{border-color:#aaa}
.inp-focus .label{display:none}
#anony-nav{width:950px;margin:0 auto 25px}
#anony-nav h1{
	display:inline-block;
	*display:inline;zoom:1;
	vertical-align:middle;
	width:160px;
	height:34px;
	margin:0 20px 0 0;
	padding:0;
	font-size:12px;
	font-weight:normal;
	background:url(pic/logo_db.png) no-repeat 0 0;
	background-image:-webkit-image-set(url(pic/logo_db.png) 1x, url(pic/logo_db.png) 2x);
	background-image:-moz-image-set(url(/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png) 1x, url(/f/sns/0f9e2dbca60b52f595ddbc02073cb4bb879ed1c9/pics/nav/logo_db@2x.png) 2x);background-image:-ms-image-set(url(/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png) 1x, url(/f/sns/0f9e2dbca60b52f595ddbc02073cb4bb879ed1c9/pics/nav/logo_db@2x.png) 2x);background-image:-o-image-set(url(/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png) 1x, url(/f/sns/0f9e2dbca60b52f595ddbc02073cb4bb879ed1c9/pics/nav/logo_db@2x.png) 2x);overflow:hidden}
#anony-nav h1 a{display:block;height:34px;line-height:10em}
#anony-nav h1 a:hover,#anony-nav h1 a:active{background:transparent}
#anony-nav .anony-srh{position:relative;display:inline-block;*display:inline;zoom:1;vertical-align:middle;width:270px;height:30px;border:1px solid #c3c3c3}
#anony-nav .anony-srh .inp{display:block;height:30px;overflow:hidden}
#anony-nav .anony-srh .inp input{width:240px;border:none;font-size:13px;height:20px;padding:5px}
#anony-nav .anony-srh .bn{position:absolute;right:0;top:0;width:30px;height:30px;overflow:hidden;cursor:pointer;background:url(/f/sns/f71f15922ebd7c0ff0ea0e7a25577529efd8981a/pics/icon/bn_srh_1.png) 50% 50% no-repeat}
#anony-nav .anony-srh .bn input{border:none;background:transparent;*padding-left:30px;overflow:hidden;width:30px;height:30px;font-size:0;color:transparent;cursor:pointer}
#anony-nav .anony-srh .label{font-size:13px;color:#ccc;line-height:28px;padding-left:5px;cursor:text}
#anony-nav .anony-nav-links{float:right;margin-top:6px}
#anony-nav .anony-nav-links li{display:inline-block;*display:inline;zoom:1;margin:0 0 0 17px}
#anony-nav .anony-nav-links li a{display:inline-block;*display:inline;zoom:1;width:40px;height:20px;overflow:hidden;margin:0;line-height:20em;outline:none;vertical-align:middle;background:transparent url(/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png) no-repeat 100% 100%;background-image:-webkit-image-set(url(/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png) 1x, url(/f/sns/82c3a65bdec3e60331a8dd5805bb842e76ac0c04/pics/sns/anony_home/anony_nav_logo@2x.png) 2x);background-image:-moz-image-set(url(/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png) 1x, url(/f/sns/82c3a65bdec3e60331a8dd5805bb842e76ac0c04/pics/sns/anony_home/anony_nav_logo@2x.png) 2x);background-image:-ms-image-set(url(/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png) 1x, url(/f/sns/82c3a65bdec3e60331a8dd5805bb842e76ac0c04/pics/sns/anony_home/anony_nav_logo@2x.png) 2x);background-image:-o-image-set(url(/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png) 1x, url(/f/sns/82c3a65bdec3e60331a8dd5805bb842e76ac0c04/pics/sns/anony_home/anony_nav_logo@2x.png) 2x)}
#anony-nav .anony-nav-links li .lnk-book{background-position:0 0}
#anony-nav .anony-nav-links li .lnk-movie{background-position:-60px 0}
#anony-nav .anony-nav-links li .lnk-music{background-position:-120px 0}
#anony-nav .anony-nav-links li .lnk-group{background-position:-180px 0}
#anony-nav .anony-nav-links li .lnk-fm{background-position:-241px 0}
#anony-nav .anony-nav-links li .lnk-events{background-position:-299px 0}
#anony-nav .anony-nav-links li .lnk-market{width:42px;background-position:-421px 0}
#anony-nav .anony-nav-links li .lnk-shijian{margin-bottom:1px;background:transparent url(/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png) no-repeat 100% 100%;background-image:-webkit-image-set(url(/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png) 1x, url(/f/sns/74745beec69da53ac959a9bcc4e1e66f852ba2e8/pics/sns/anony_home/ic_shijian_home_nav@2x.png) 2x);background-image:-moz-image-set(url(/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png) 1x, url(/f/sns/74745beec69da53ac959a9bcc4e1e66f852ba2e8/pics/sns/anony_home/ic_shijian_home_nav@2x.png) 2x);background-image:-ms-image-set(url(/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png) 1x, url(/f/sns/74745beec69da53ac959a9bcc4e1e66f852ba2e8/pics/sns/anony_home/ic_shijian_home_nav@2x.png) 2x);background-image:-o-image-set(url(/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png) 1x, url(/f/sns/74745beec69da53ac959a9bcc4e1e66f852ba2e8/pics/sns/anony_home/ic_shijian_home_nav@2x.png) 2x);background-size:cover}


.title-badge{display:inline-block;*display:inline;*zoom:1;vertical-align:top;vertical-align:baseline;color:#fff;font-weight:200;background-color:#80C8DA;font-size:11px;line-height:17px;padding:0 3px;padding-top:1px\9;border-radius:3px;margin-bottom:3px}
a.title-badge:link,a.title-badge:visited{color:#fff}
.title-tickets-badge{background-color:#ff8263}
.title-tickets-badge:hover{background-color:#ff7056}
#anony-events .cate .cate-label a:link,#anony-events .cate .cate-label a:visited{color:#333}
#anony-events .cate .cate-label a:hover,#anony-events .cate .cate-label a:active{color:#fff}
.app-icon{display:inline-block;*display:inline;*zoom:1;vertical-align:top;width:50px;height:50px;background:url(/f/sns/02f0736c7010c4bdccebbd6d6b140ccb1506cf6b/pics/sns/app/app_icons_50_10.jpg) no-repeat;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-box-shadow:1px 1px 2px #999;-moz-box-shadow:1px 1px 2px #999;box-shadow:1px 1px 2px #999}
.lnk-icon{display:block}
.lnk-icon:hover,.lnk-icon:active{background-color:transparent}
