#anony-nav h1{
	display:inline-block;/*融合行内于块级*/
	vertical-align:middle;/*该属性定义行内元素的基线相对于该元素所在行的基线的垂直对齐。允许指定
	负长度值和百分比值。这会使元素降低而不是升高。
	在表单元格中，这个属性会设置单元格框中的单元格内容的对齐方式。*/
	width:160px;
	height:34px;
	margin:15px 20px 0 0;/*豆瓣图标的页边距*/
	padding:0;/*内边距属性*/
	font-size:12px;
	font-weight:normal;
	background:url(pic/logo_db.png) no-repeat 0 0;/*保证图片不重复*/
	background-image:-webkit-image-set(url(pic/logo_db.png) 1x, url(pic/logo_db.png) 2x);/*保证图片的大小尺寸*/
	overflow:hidden/*溢出隐藏*/
}
#anony-nav{
	width:950px;
	margin:0 0 25px 100px/*总宽度950像素，左边空出100像素*/
}
#anony-nav .anony-nav-links li a{/*8个链接的总体设置，有一个是错的，要在后面覆盖*/
	display:inline-block;
	width:40px;
	height:20px;
	overflow:hidden;
	line-height:20em;/*行高为20倍行间距，配合溢出隐藏，从而隐藏文字*/
	vertical-align:middle;/*元素的垂直对齐方式*/
	background:transparent url(pic/anony_nav_logo.png) no-repeat 100% 100%;
	background-image:-webkit-image-set(url(pic/anony_nav_logo.png) 1x, url(pic/anony_nav_logo.png) 2x);
	}
#anony-nav .anony-nav-links li .lnk-book{background-position:0 0}/*设置背景图像的起始位置*/
#anony-nav .anony-nav-links li .lnk-movie{background-position:-60px 0}/*精灵图：为了减少服务器接收和发送请*/
#anony-nav .anony-nav-links li .lnk-music{background-position:-120px 0}/*求的次数，提高页面的加载速度*/
#anony-nav .anony-nav-links li .lnk-group{background-position:-180px 0}
#anony-nav .anony-nav-links li .lnk-fm{background-position:-241px 0}
#anony-nav .anony-nav-links li .lnk-events{background-position:-299px 0}
#anony-nav .anony-nav-links li .lnk-market{width:42px;background-position:-421px 0}
#anony-nav .anony-nav-links li .lnk-shijian{
	margin-bottom:1px;
	background:transparent url(pic/ic_shijian_home_nav.png) no-repeat 100% 100%;
	background-image:-webkit-image-set(url(pic/ic_shijian_home_nav.png) 1x, url(pic/ic_shijian_home_nav.png) 2x);
	background-size:cover/*把背景图像扩展至足够大，以使背景图像完全覆盖背景区域*/
}
#anony-nav .anony-nav-links{
	float:right;/*那8个链接右对齐*/
	margin-top:6px/*那8个链接上方空出6像素，即往下移一点*/
}
#anony-nav .anony-nav-links li{
	display:inline-block;/*8链接所在的列表放在同一行*/
	margin:0 0 0 17px
}



#anony-nav h1 a{
	display:block;/*此元素将显示为块级元素，此元素前后会带有换行符。目的是使豆瓣图片变成超链接*/
	height:34px;
	line-height:10em/*行高为当前字体大小的10倍，目的是隐藏豆瓣这两个字*/
}

#anony-nav .anony-srh{
	position:absolute;/*原本是relative，效果不好*/
	left:290px;
  	top:25px;
	display:inline-block;
	vertical-align:middle;
	width:270px;
	height:30px;
	border:1px solid #c3c3c3
}
#anony-nav .anony-srh .inp{
	display:block;
	height:30px;
	overflow:hidden
}
#anony-nav .anony-srh .inp input{
	width:240px;
	border:none;
	font-size:13px;
	height:20px;
	padding:5px
}
#anony-nav .anony-srh .bn{
	position:absolute;
	right:0;
	top:0;
	width:30px;
	height:30px;
	overflow:hidden;
	cursor:pointer;
	background:url(pic/bn_srh_1.png) 50% 50% no-repeat
	}/*放大镜的样式*/
#anony-nav .anony-srh .bn input{
	border:none;
	background:transparent;
	overflow:hidden;
	width:30px;
	height:30px;
	color:transparent;
	cursor:pointer
}


